/nbproject/private/
/nbproject/
/.idea/
/vendor/
/logs/
/config/stat_bottom.txt
/config/stat_middle.txt
/config/stat_top.txt
/public/libs/debugbar/
/var/cache/*
/var/containers/proxies/*
/var/logs/*
/var/routes/*
/var/sessions/*
/var/temp/*
/var/templates_cache/*
/var/templates_compiled/*
!/var/cache/README.md
!/var/containers/proxies/README.md
!/var/logs/README.md
!/var/sessions/README.md
!/var/temp/README.md
!/var/templates_cache/README.md
!/var/templates_compiled/README.md
