/nbproject/private/
/nbproject/
/.idea/
/vendor/
/logs/
/var/
/composer.lock
/Config/config.ini
/Config/dbconfig.ini
/htdocs/Libs/
/htdocs/libs/axios/
/htdocs/libs/bootstrap5/
/htdocs/libs/fontawesome6/
/htdocs/libs/vuejs3/
/config/stat_bottom.txt
/config/stat_middle.txt
/config/stat_top.txt
